body {
    position: static;
	width: 1024px;
	height: 863px;
	margin:auto;
	
}


h1 {
    color: yellow;
    margin-left: 300px;
}
.button{
                position: relative;
                width : 95px;
                height: 95px;
                cursor: crosshair;
                
            }
.button:hover{
                background-color :red;
}